@import "../global/variables";

.example {
  background-color: $blocks;
  padding: 27px 0 25px 0;
}

.example-heading {
  @include side-padding;
  margin: 0 auto 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__text {
  @include side-padding;
  margin: 33px 0 25px 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__info-wrapper {
  flex-grow: 1;
  min-width: 124px;
  text-align: center;
}

.example__text-bottom {
  margin: 0 auto -10px auto;
  width: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: $blocks;
  position: relative;
  top: -10px;
}

.example__info {
  @include side-padding;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__item {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
}

.example__info-wrapper:first-child {
  margin-right: 30px;
}

.example__text-top {
  margin-top: 15px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__total {
  margin-top: 27px;
  margin-bottom: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.example__image {
  text-align: center;
}

.example__image img {
  width: 100%;
  height: auto;
}

.example__control-block {
  margin: 13px 46px 0 46px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.example__control-block button {
  padding: 0;
  margin: 0 2px;
  width: 70px;
  height: 40px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
}

.example__control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 84px;
  min-height: 14px;
  background-color: $base-background;
  border-radius: 6px;
}

.example__toggle {
  margin: 0 6px;
  background-color: $brand-green;
  width: 45%;
  min-height: 6px;
  border-radius: 6px;
}
