@import "../global/variables";

.example {
  background-color: $blocks-second;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($base-background 57%, #eaeaea 57%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($base-background 30%, $blocks 30%);
  }
}

.example__block-wrapper {
  @include side-padding;
  padding-bottom: 25px;
  padding-top: 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include side-padding(3.9%);
    padding-top: 0;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    @include side-padding(7.64%);
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.example__info-block,
.example__slider {
  z-index: 2;
}

.example__info-block {
  position: relative;
}

.example-heading {
  margin: 0 auto 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.example__text {
  margin: 33px 0 25px 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 97%;
    font-size: 16px;
    line-height: 24px;
    margin: 63px 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 146px 0 70px 0;
    width: 436px;
  }
}

.example__info {
  display: flex;
  flex-direction: column;
  align-self: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 85px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__container {
  display: flex;
  justify-content: space-between;
}

.example__info-wrapper {
  flex-grow: 1;
  min-width: 124px;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    width: 162px;
    align-items: center;
  }
}

.example__info-wrapper:first-child {
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.example__item {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
}

.example__text-top {
  margin-top: 14px;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text-bottom {
  margin: 0 auto -20px auto;
  padding: 0 12px;
  width: 50%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: $blocks-second;
  z-index: 2;
  position: relative;
  top: -9px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 70%;
    font-size: 14px;
    line-height: 14px;
    background-color: $base-background;
  }

  @media (min-width: $desktop-width) {
    background-color: $blocks;
  }
}

.example__info-wrapper:last-child .example__text-bottom {
  padding: 0 5px;
  width: 80%;
}

.example__total {
  margin-top: 27px;
  margin-bottom: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
  }
}

.example__total span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 60px;
    display: inline;
  }
}
