@import "../global/variables";

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__block-wrapper {
  @include side-padding;

  @media (min-width: $tablet-width) {
    @include side-padding(3.9%);
    margin: 0 40px;
  }

  @media (min-width: $desktop-width) {
    @include side-padding(7.64%);
    margin: 0;
    display: grid;
    grid-template: auto/ repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__heading {
  margin-top: 27px;
  margin-bottom: 37px;
  text-align: left;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    margin-bottom: 56px;
    grid-column: 1/3;
  }
}

.form__text {
  margin-top: 0;
  margin-bottom: 39px;
  max-width: 230px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    max-width: 330px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.form__label {
  margin-bottom: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-weight .form__label {
  margin-bottom: 13px;
  color: #222222;
}

.form__label:last-child {
  margin-bottom: 0;
}

.form-additionally .form__label {
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 221px;
  }
}

.form__field {
  flex-grow: 1;
  margin-left: 14px;
  border-radius: 0;
  border: 1px solid #e7e7e7;
  height: 45px;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-left: 16px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    height: 50px;
  }
}

.form-weight input,
.form-additionally input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form-weight input:focus + label::before,
.form-additionally input:focus + label::before {
  outline: 2px solid #444444;
}

.form-weight label::before,
.form-additionally label::before {
  content: "";
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }
}

.form-weight label:hover::before,
.form-additionally label:hover::before {
  border-color: #bababa;
}

.form-weight label:disabled::before,
.form-additionally label:disabled::before {
  opacity: 0.3;
}

.form-additionally label::before {
  border-radius: 0;
}

.form-weight input:checked + label::before {
  background-color: $brand-green;
  box-shadow: inset 0 0 0 7px $base-background;

  @media (min-width: $tablet-width) {
    box-shadow: inset 0 0 0 9px $base-background;
  }
}

.form-additionally input:checked + label::before {
  background: url("../img/tick.svg") no-repeat center;
}

.form-weight input:disabled + label,
.form-additionally input:disabled + label {
  opacity: 0.3;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
.form-comment textarea {
  border: none;
  outline: 1px solid #e7e7e7;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:focus:required:invalid {
    outline: 2px solid #ff8282;
  }
}

.form-comment textarea {
  box-sizing: border-box;
  padding: 10px 12px;
  width: 100%;
  height: 150px;
  border-radius: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__title {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__title::before {
  content: "";
  width: 200vw;
  height: 2px;
  background-color: $brand-green;
  position: absolute;
  z-index: -1;
  top: 16px;
  left: -110px;

  @media (min-width: $tablet-width) {
    top: 22px;
  }

  @media (min-width: $desktop-width) {
    left: -1400px;
  }
}

.form__title::after {
  margin-left: -25px;
  content: "";
  display: block;
  width: auto;
  height: 45px;
  background-color: $base-background;
  //background-color: rgba(black, 0.5);
  position: absolute;
  z-index: -1;
  top: -5px;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    top: 0;
  }
}

.form__title.form__title--cont-uniq::after {
  width: 226px;

  @media (min-width: $tablet-width) {
    width: 590px;
  }
}

.form__title.form__title--com-uniq::after {
  width: 168px;

  @media (min-width: $tablet-width) {
    width: 262px;
  }
}

.form__title.form__title--add-uniq::after {
  width: 189px;

  @media (min-width: $tablet-width) {
    width: 290px;
  }
}

.form__title--cont-uniq {
  margin-bottom: 35px;
  max-width: 190px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    max-width: 520px;
  }
}

.form__title--com-uniq {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__title--add-uniq {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-weight {
  position: relative;
  margin-top: 24px;
  margin-bottom: 26px;
  padding-top: 22px;
  padding-bottom: 20px;
  /*border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;*/

  @media (min-width: $tablet-width) {
    margin-top: 72px;
    margin-bottom: 71px;
    padding: 25px 28px;
    border: 1px solid #d9d9d9;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form-weight::before {
  content: "";
  display: block;
  width: 200vw;
  height: 157px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  top: 0;
  left: -50px;
  right: 0;
  pointer-events: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    grid-column: 1/3;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-contact svg {
  right: 15px;
}

.form__envelope {
  stroke: #000000;
  position: absolute;
}

.form__phone {
  fill: #000000;
  position: absolute;
}

.form-contact .form__label {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-contact .form__field {
  &:focus + .form__envelope {
    stroke: $brand-green;
  }

  &:focus + .form__phone {
    fill: $brand-green;
  }

  &:focus:invalid + .form__envelope {
    stroke: #ff8282;
  }

  &:focus:invalid + .form__phone {
    fill: #ff8282;
  }
}

.form-contact .form__label:first-of-type {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.form-comment {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    grid-column: 1/3;
  }
}

.form-additionally {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
    grid-column: 1/3;
  }
}

.form-additionally__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 104px;
  }
}

.form__submit {
  margin-top: 34px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 830px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
    grid-column: 1/3;
  }
}

.form__button {
  height: 40px;
  width: 100%;
  border: none;
  background-color: $brand-green;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    height: 52px;
    max-width: 568px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__desc {
  margin-top: 21px;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin: 0 100px 0 61px;
    min-width: 180px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 81px;
  }
}
