@import "../global/variables";

.location {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.location__info {
  @include side-padding;
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $base-background;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    height: 200px;
    padding: 0 72px;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0 auto 110px;
    padding: 63px 0 0 0;
    box-sizing: border-box;
    justify-content: center;
    width: 570px;

    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.location__info--color {
  background-color: $blocks;

  @media (min-width: $desktop-width) {
    background-color: $blocks-second;
  }
}

.location__info--no-js {
  display: none;
}

.location__text-cooperation {
  margin: 0;
  padding-right: 5px;
  max-width: 140px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    padding: 0;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-right: 110px;
  }
}

.location__text {
  margin: 0;
  max-width: 140px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    text-align: right;
    max-width: 160px;
    height: 80px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    text-align: left;
  }
}

.location_desc {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
    display: block;
  }
}

.location__map {
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.location__static-map {
  display: none;
  height: 362px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    text-align: center;
    height: 400px;
    background-color: $blocks;
  }
}

.location__image {
  width: 100%;
  height: auto;

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.location__static-map--no-js {
  display: block;
}

.location__map--no-js {
  display: none;
}
