.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo-image {
  padding-top: 12px;
  padding-left: 21px;
  float: left;
}

.page-header__logo-title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header__image {
  width: 24px;
  height: auto;
}

.main-nav {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.main-nav--show-menu {
  max-height: 210px;
}

.page-header__toggle {
  align-self: center;
  padding-right: 21px;
  border: none;
  outline: none;
  background-color: transparent;
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.site-list__item a {
  &:hover {
    opacity: 0.6;
  }
}

.site-list__item a,
.site-list__item span {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
