@import "../global/variables";

.page-footer {
  padding: 39px 20px 22px 20px;
  background-color: $blocks;
}

.page-footer__logo-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}

.page-footer__bottom-info a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
