.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo-image {
  padding-top: 12px;
  padding-left: 21px;
  float: left;
  align-items: center;
}

.page-header__logo-title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 21px 0 0;
  width: 45px;
  height: auto;
  border: none;
  outline: none;
  background-color: transparent;
}

.page-header__image {
  width: 18px;
  height: 18px;
  background: url("../../img/close.svg") center no-repeat;
  background-size: contain;
}

.page-header--menu-icon {
  width: 24px;
  height: 16px;
  background: url("../../img/base-button.svg") center
    no-repeat;
  background-size: contain;
}

.main-nav {
  display: block;
}

.main-nav--close-menu {
  display: none;
}

.page-header--hidden {
  visibility: hidden;
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.site-list__item a {
  &:hover {
    opacity: 0.6;
  }
}

.site-list__item a,
.site-list__item span {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
