@import "../global/variables";

.page-footer {
  @include side-padding;
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: $blocks;

  @media (min-width: $tablet-width) {
    @include side-padding(3.9%);
    padding-top: 55px;
    padding-bottom: 0;
    box-sizing: border-box;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    @include side-padding(7.64%);
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 5px 0 0 0;
    padding: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.page-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0 22px 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  color: #5eaa2f;
  height: 63px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 20px;
    justify-content: space-between;
    align-items: center;
    border: none;
    width: 130px;
    height: auto;
  }
}

.page-footer__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.page-footer__link--vkontakte svg {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.page-footer__link--instagram {
  margin: 0 36px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 23px;
    height: 23px;
  }
}

.page-footer__link--instagram svg {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.page-footer__link--facebook svg {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.page-footer__link--vkontakte,
.page-footer__link--instagram {
  fill: #666666;

  &:hover {
    fill: $brand-green;
  }

  &:focus {
    opacity: 0.3;
  }
}

.page-footer__link--facebook {
  stroke: #666666;

  &:hover {
    stroke: $brand-green;
  }

  &:focus {
    opacity: 0.3;
  }
}

.page-footer__bottom-info a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: #666666;

  &:hover {
    fill: $brand-green;

    .page-footer__text {
      color: $brand-green;
    }
  }

  &:focus {
    opacity: 0.3;
  }
}
