@import "../global/variables";

.page-header {
  @media (min-width: $tablet-width) {
    @include side-padding(3.9%);
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    align-items: center;
    border: none;
  }
}

.page-header__logo-image {
  padding-top: 12px;
  padding-left: 21px;
  float: left;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-image-2 {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-header__logo-title {
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 13px;
  }
}

.page-header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 21px 0 0;
  width: 45px;
  height: auto;
  border: none;
  outline: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__image {
  width: 18px;
  height: 18px;
  background: url("../../img/base-button.svg") center
    no-repeat;
  background-size: contain;
}

.page-header--menu-icon {
  width: 24px;
  height: 16px;
  background: url("../../img/close.svg") center no-repeat;
  background-size: contain;
}

.page-header--hidden {
  visibility: hidden;
}
