@import "../global/variables";

//.promo {}

.promo__block-wrapper {
  color: #ffffff;

  @media (min-width: $tablet-width) {
    @include side-margin(3.9%);
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    @include side-margin(7.64%);
  }
}

.promo__wrapper {
  text-align: center;
  width: auto;
  height: 302px;
  background-color: #63a63c;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    display: block;
    width: 50%;
    height: 694px;
    position: absolute;
    left: 740px;
    top: 0;
    overflow: hidden;
  }
}

.promo__wrapper img {
  @media (min-width: $desktop-width) {
    width: 100%;
    height: auto;
  }
}

.promo__heading {
  max-width: 250px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto 0 auto;
  padding-top: 64px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-left: 83px;
    max-width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    padding-top: 111px;
    text-shadow: none;
  }
}

.promo__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-left: 83px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    padding-bottom: 0;
  }
}

.promo picture:last-of-type {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 552px;
    height: 499px;
    position: absolute;
    left: 450px;
    top: -260px;
  }
}

.promo__text-wrapper {
  @include side-margin;
  padding: 10px 0;
  background-color: $brand-green;
  text-align: center;

  &:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: #5eaa2f;
  }

  &:active {
    .promo__get-program {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 83px;
    margin-right: 0;
    padding: 16px 0;
    width: 244px;
    position: absolute;
    top: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-left: 80px;
    position: static;
  }
}

.promo__get-program {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
