@import "../global/variables";

.example__text-bottom {
  z-index: 2;
}

.promo {
  color: #ffffff;
}

.promo__wrapper {
  text-align: center;
  width: auto;
  height: 302px;
  background-color: #63a63c;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.promo__heading {
  width: 250px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto 0 auto;
  padding-top: 27px;
  padding-bottom: 25px;
}

.promo__text-wrapper {
  @include side-margin;
  padding: 7px 0 7px 0;
  background-color: $brand-green;
  text-align: center;

  &:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: #5eaa2f;
  }

  &:active {
    .promo__get-program {
      opacity: 0.3;
    }
  }
}

.promo__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;
}

.promo__image {
  display: block;
  margin: 0 auto;
}

.promo__get-program {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
