@import "../global/variables";

.weight-change {
  @include side-padding;
  padding-top: 22px;
  padding-bottom: 27px;
}

.weight-change__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.weight-change__text {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.weight-change__catalog {
  margin-top: 15px;
  display: block;
  text-decoration: none;

  &:hover {
    .catalog__arrow-icon {
      width: 32px;
      height: 10px;
      transition: width 0.2s ease-in-out;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__text {
  padding-right: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.catalog__arrow-icon {
  width: 24px;
  height: 12px;
}

.slimming a,
.weight-gain a {
  display: flex;
  align-items: center;
}

.slimming,
.weight-gain {
  background-color: $blocks;
}

.slimming {
  padding: 20px 33px 18px 20px;
}

.slimming__heading {
  display: flex;
  align-items: center;
}

.weight-change__s-place {
  padding-left: 19px;
}

.weight-change__g-place {
  padding-left: 11px;
}

.weight-gain {
  margin-top: 20px;
  padding: 24px 33px 18px 13px;
}

.weight-gain__heading {
  display: flex;
  align-items: center;
}

.weight-gain-indent {
  margin-left: 7px;
}
