@import "../global/variables";

.working-method {
  @include side-padding;
  padding-bottom: 42px;
}

.working-method__heading {
  margin: 0 auto 0 0;
  padding-bottom: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.working-method__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.working-method__item {
  display: flex;
  padding: 0;
  padding-bottom: 20px;
}

.working-method__item:last-child {
  padding-bottom: 0;
}

.working-method__icon {
  padding: 0;
}

.working-method__text {
  padding: 0 0 0 20px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
